@import "../../mixins.scss";

.link-icon {
  &__content {
    width: 50px;
    height: 50px;
    border-radius: 10px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    i {
      font-size: var(--px30);
      color: var(--dark);
      transition: all 0.2s ease-in-out;
    }
  }

  &__content:hover {
    background-color: var(--orange-d);
    transition: all 0.2s ease-in-out;
    i {
      color: var(--dark-d);
      transition: all 0.2s ease-in-out;
    }
  }
}

@include breakpoint("1000px") {
  .link-icon {
    &__content {
      margin: 0 15px;
    }
  }
}
@include breakpoint("500px") {
  .link-icon {
    &__content {
      margin: 0 10px;
    }
  }
}
