@import "../../mixins.scss";
.about {
  position: relative;
  &__cards {
    overflow: hidden;
    width: 66%;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
    margin: 0 auto;
    justify-items: center;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}
@include breakpoint("1500px") {
  .about {
    &__cards {
      width: 980px;
      gap: 40px;
    }
  }
}
@include breakpoint("1100px") {
  .about {
    &__cards {
      gap: 20px;
    }
  }
}
@include breakpoint("1000px") {
  .about {
    &__cards {
      width: 500px;
      grid-template-columns: 1fr;
      gap: 50px;
    }
  }
}
@include breakpoint("600px") {
  .about {
    &__cards {
      width: 400px;
    }
  }
}
@include breakpoint("500px") {
  .about {
    &__cards {
      margin-bottom: 50px;
    }
    &__cards {
      width: 300px;
    }
  }
}
