@import "../../mixins.scss";

.home {
  position: relative;
  height: calc(100vh - var(--px80));
  width: 100vw;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  // background-image: linear-gradient(
  //     to bottom,
  //     rgba(17, 24, 32, 1) 0%,
  //     rgba(17, 24, 32, 0.9) 10%,
  //     rgba(17, 24, 32, 0.6) 100%
  //   ),
  //   url("../../assets/pc.jpg");
  background-image: linear-gradient(
      to bottom,
      rgba(22, 22, 22, 1) 0%,
      rgba(22, 22, 22, 0.9) 10%,
      rgba(22, 22, 22, 0.6) 100%
    ),
    url("../../assets/pc.jpg");
  overflow: hidden;

  &__container {
    width: fit-content;
    position: absolute;
    top: calc(50% - var(--px50));
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  &__title {
    font-size: var(--px70);
    font-weight: var(--weight400);
    font-family: var(--fam-Sans);
    margin-bottom: var(--px30);
    letter-spacing: 10px;
    text-transform: uppercase;
  }

  &__subtitle {
    font-size: var(--px40);
    font-weight: var(--weight300);
    letter-spacing: 20px;
    text-transform: uppercase;
  }
}

@include breakpoint("1000px") {
  .home {
    &__title {
      font-size: var(--px50);
    }
    &__subtitle {
      font-size: var(--px30);
    }
  }
}
@include breakpoint("800px") {
  .home {
    &__title {
      font-size: var(--px40);
    }
    &__subtitle {
      font-size: var(--px25);
    }
  }
}
@include breakpoint("700px") {
  .home {
    &__container {
      width: 90%;
    }
    &__title {
      letter-spacing: 5px;
    }
    &__subtitle {
      letter-spacing: 10px;
    }
  }
}
@include breakpoint("600px") {
  .home {
    &__title {
      letter-spacing: 0.1rem;
    }
    &__subtitle {
      letter-spacing: 5px;
    }
  }
}
@include breakpoint("450px") {
  .home {
    &__title {
      font-size: var(--px35);
    }
    &__subtitle {
      font-size: var(--px20);
    }
  }
}
