@import "../../mixins.scss";

.card {
  transition: all 0.3s ease-in-out;
  position: relative;
  width: 384px;
  height: 216px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;
  overflow: hidden;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
  }

  &__overlay {
    overflow: hidden;
    visibility: hidden;
    opacity: 0;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0.8) 0%,
      rgba(15, 15, 15, 0.8) 70%,
      rgba(15, 15, 15, 10.9) 80%,
      rgba(15, 15, 15, 1) 100%
    );
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 50px;
    transition: all 0.5s ease-in-out;
  }

  &:hover {
    box-shadow: 0px 5px 15px rgba(243, 131, 26, 0.4);
    transition: all 0.3s ease-in-out;
  }

  &__buttons {
    a {
      text-decoration: none;
    }
  }

  // Two link to website and repository
  &__content {
    visibility: hidden;
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 20px 0;
    transform: translateX(-100px);
    opacity: 0;
    i {
      font-size: var(--px25);
      color: var(--dark);
      transition: all 0.2s ease-in-out;
    }
  }

  &__first {
    transform: translateX(-200px);
  }

  &__content:hover {
    background-color: var(--orange-d);
    transition: all 0.1s ease-in-out;
    i {
      color: var(--dark);
      transition: all 0.1s ease-in-out;
    }
  }

  // Website name
  &__name {
    font-size: 1rem;
    font-weight: var(--weight300);
    color: var(--orange);
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
    opacity: 0;
    transition: all 0.4s ease-in-out;
    transform: translateY(-200px);
  }

  // Is or not responsive
  &__responsive {
    font-size: var(--px15);
    font-weight: var(--weight400);
    transform: translateX(100px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  // Two color for is/not
  &__red {
    color: var(--red);
  }

  &__green {
    color: var(--green);
  }

  // Languages code container
  &__codes {
    position: absolute;
    bottom: 10px;
    width: 300px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Programing languages used image
  &__code {
    width: 30px;
    height: 100%;
    margin: 0 3px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    transform: translateY(40px);
    opacity: 0;
    transition: all 0.2s ease-in-out;
  }

  &__html {
    background-image: url("../../assets/coding/html.png");
  }
  &__css {
    background-image: url("../../assets/coding/css.png");
  }
  &__js {
    background-image: url("../../assets/coding/js.png");
  }
  &__react {
    background-image: url("../../assets/coding/react.png");
  }
  &__sass {
    background-image: url("../../assets/coding/sass.png");
  }
}

// Hide the icon if is not used in final code
.hide {
  display: none;
}

.show__card {
  .card {
    &__overlay {
      visibility: visible;
      opacity: 1;
    }
    &__content {
      visibility: visible;
      opacity: 1;
      transform: translateX(0);
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }
    &__responsive {
      transform: translateX(0);
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    &__first {
      transform: translateX(0);
    }

    &__code {
      transform: translateY(0);
      opacity: 1;
      transition: all 0.5s ease-in-out;
    }

    &__name {
      opacity: 1;
      transition: all 0.4s ease-in-out;
      transform: translateY(0);
    }
  }
}

@include breakpoint("430px") {
  .card {
    width: 320px;
    height: 180px;
  }
}
@include breakpoint("380px") {
  .card {
    width: 274.2px;
    height: 154.2px;
  }
}
