.card {
  position: relative;
  width: 384px;
  height: 216px;
  border-radius: 20px;
  box-shadow: 0px 5px 10px rgba(255, 255, 255, 0.2);
  transition: all 0.3s ease-in-out;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    cursor: pointer;
  }

  &__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    border-radius: 20px;
    background: linear-gradient(
      to bottom,
      rgba(15, 15, 15, 0.6) 0%,
      rgba(15, 15, 15, 0.7) 70%,
      rgba(15, 15, 15, 10.9) 80%,
      rgba(15, 15, 15, 1) 100%
    );
    cursor: pointer;
    display: grid;
    justify-items: center;
    align-items: center;
    grid-template-columns: 1fr 2fr;
    padding-bottom: 50px;
  }

  &:hover {
    box-shadow: 0px 5px 15px rgba(243, 131, 26, 0.4);
    transition: all 0.3s ease-in-out;
  }

  &__buttons {
    a {
      text-decoration: none;
    }
  }

  // Two link to website and repository
  &__content {
    width: 40px;
    height: 40px;
    border-radius: 10px;
    background-color: var(--orange);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    margin: 20px 0;
    i {
      font-size: var(--px25);
      color: var(--dark);
      transition: all 0.2s ease-in-out;
    }
  }

  &__content:hover {
    background-color: var(--orange-d);
    transition: all 0.2s ease-in-out;
    i {
      color: var(--white-dark);
      transition: all 0.2s ease-in-out;
    }
  }

  // Website name
  &__name {
    font-size: 1rem;
    font-weight: var(--weight300);
    color: var(--orange);
    letter-spacing: 0.1rem;
    margin-bottom: 30px;
  }

  // Is or not responsive
  &__responsive {
    font-size: 1rem;
    letter-spacing: 0.1rem;
    font-weight: var(--weight300);
  }

  // Two color for is/not
  &__red {
    color: var(--red);
  }

  &__green {
    color: var(--green);
  }

  // Languages code container
  &__codes {
    position: absolute;
    bottom: 10px;
    width: 300px;
    height: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  // Programing languages used image
  &__code {
    width: 30px;
    height: 100%;
    margin: 0 3px;
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
  }

  &__html {
    background-image: url("../../assets/coding/html.png");
  }
  &__css {
    background-image: url("../../assets/coding/css.png");
  }
  &__js {
    background-image: url("../../assets/coding/js.png");
  }
  &__react {
    background-image: url("../../assets/coding/react.png");
  }
  &__sass {
    background-image: url("../../assets/coding/sass.png");
  }
}

// Hide the icon if is not used in final code
.hide {
  display: none;
}
