.nav {
  max-width: var(--px1500);
  height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  padding: 0 var(--px10);

  &__logo {
    height: var(--px80);
  }

  a {
    text-decoration: none;
    color: #fff;
    font-family: var(--fam-Poppins);
    font-size: var(--px18);
    line-height: var(--px100);
    font-weight: var(--weight400);
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;

    &:not(:last-of-type) {
      margin-right: var(--px30);
    }
  }

  a:hover {
    color: #e67e22;
    transition: all 0.2s ease-in-out;
  }
}
