.nav {
  position: sticky;
  top: 0;
  width: 100%;
  height: var(--px80);
  z-index: 100;
  background-color: rgba(22, 22, 22, 0.8);

  &__container {
    width: var(--px1500);
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
  }

  &__logo {
    height: var(--px70);
    opacity: 0.9;
  }

  a {
    text-decoration: none;
    color: rgb(194, 194, 194);
    font-family: var(--fam-Poppins);
    font-size: var(--px18);
    line-height: var(--px100);
    font-weight: var(--weight400);
    cursor: pointer;
    letter-spacing: 0.1rem;
    transition: all 0.2s ease-in-out;

    &:not(:last-of-type) {
      margin-right: var(--px30);
    }
  }

  a:hover {
    color: var(--orange);
    // color: #e67e22;
    transition: all 0.2s ease-in-out;
  }
}
