@import "../../mixins.scss";

.description {
  text-align: center;
  font-size: var(--px16);
  text-transform: uppercase;
  display: block;
  margin: 100px auto var(--px50);
  letter-spacing: 0.2rem;
  line-height: var(--px30);
  color: var(--grey);
}

.width {
  width: var(--px1500);
}

@include breakpoint("1600px") {
  .description {
    width: 90%;
  }
}
@include breakpoint("1200px") {
  .description {
    font-size: var(--px14);
    line-height: var(--px25);
  }
}
@include breakpoint("600px") {
  .description {
    font-size: var(--px13);
    line-height: var(--px20);
  }
}
